.heading-font {
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(1rem + 1vw);
    text-decoration: none;
    text-align: left;
    text-shadow: 2px 2px 2px black;
}
.game-container{
    transition: transform 0.5s;
}
.game-container:hover{
    transform: scale(1.05);
}