.nav-font {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #aaa;
    text-align: left;
}
.dropdown-item {
    color: #aaa;
}
.container-fluid {
    background-color: darkslategray;
}
.bg-body-tertiary {
    background-color: darkslategrey !important;
}