.nav-font {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #aaa;
    text-align: left;
}
.dropdown-item {
    color: #aaa;
}
.container-fluid {
    background-color: darkslategray;
}
.bg-body-tertiary {
    background-color: darkslategrey !important;
}
.hover-effect {
    fill: #aaa;
    transition: fill 0.3s ease;
}
.hover-effect:hover {
    fill: #000; /* Change color on hover */
}